@tailwind base;
@tailwind components;
@tailwind utilities;

/* sora-regular - latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/sora-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/sora-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/sora-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/sora-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/sora-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/sora-v9-latin-regular.svg#Sora') format('svg'); /* Legacy iOS */
}

/* sora-600 - latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/sora-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/sora-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/sora-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/sora-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/sora-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/sora-v9-latin-600.svg#Sora') format('svg'); /* Legacy iOS */
}

html {
  @apply text-base md:text-lg lg:text-base 2xl:text-xl;
}

#app {
  font-family: Sora, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-mint text-2xl font-normal;
}

/*
 * Custom implementation of the list-decimal class to allow different colored decimals
 * Note that we can't easily add all configured colors as Tailwind does it. New
 * colors must be added by hand when required.
 */
li {counter-increment: li}

.list-decimal {
  list-style-type: none !important;
}

.list-decimal>li::before {
  content: counter(li) ".";
  @apply text-right mr-2 -ml-[1.4rem];
}

.list-decimal.decimal-peach>li::before {
  @apply text-peach;
}

.list-decimal.decimal-fire>li::before {
  @apply text-fire text-right mr-2 -ml-[1.4rem];
}
